<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lonely Island</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.css" type="text/css">

    <!-- Custom Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/css.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/css_002.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/font-awesome.css" rel="stylesheet"  type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/creative.css" type="text/css">
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Lonely Island</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#standings">Standings</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Guides</a>
                </li>
                <li>
                    <a class="page-scroll" href="#agenda">Agenda</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="img-thumbnail" src="../images/Limsa_Lominsa_Flag.png">
            <br><br><br>
            <h1 class="logo">Lonely Island</h1>
            <hr>
            <p class="text-faded" style="font-size: 18px;"><b>FFXIV Free Company | Behemoth</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Know who we are!</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p>Lonely Island is a Final Fantasy XIV Free Company active in Behemoth server, primal datacenter.</p>
                <p>Funded 01/27/2016 we are friends enjoying the game! </p>
            </div>
        </div>
    </div>
</section>

<section id="standings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Standings</h2>
                <hr class="primary">
                <p>Updated every monday, this section displays Lonely Island's and it's members ranks on the Grand Companies Standings</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Behemoth_Mount_Patch.png">
                    <h3>Free Company Standings (Overall)</h3>
                    <p class="text-muted">Lonely Island - 13nd</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Limsa_Lominsa_Flag.png">
                    <h3>Free Company Standings (Maelstron)</h3>
                    <p class="text-muted">Lonely Island - 3nd</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Behemoth_Mount_Patch.png">
                    <h3>Individual Standings (Overall)</h3>
                    <p class="text-muted">Chase Mutley - 3st</p>
                    <p class="text-muted">Lars Deschain - 4nd</p>
		    <p class="text-muted">Locke Celes - 30rd </p>
		    <p class="text-muted">Nee Ohki - 219nd</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Limsa_Lominsa_Flag.png">
                    <h3>Individual Standings (Maelstron)</h3>
                    <p class="text-muted">Chase Mutley - 2st</p>
		    <p class="text-muted">Lars Deschain - 3nd</p>
		    <p class="text-muted">Shadow Afk - 187rd</p>
		    <p class="text-muted">Allyson Chaynes - 229rd</p>
		    <p class="text-muted">Micoco Mandragora - 430st</p>
		    <p class="text-muted">Spyro Harkinian - 465st</p>
		    <p class="text-muted">Hidek Kociuba - 499st</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Uldah_Flagsss.png">
                    <h3>Individual Standings (Twin Adder)</h3>
                    <p class="text-muted">Locke Celes - 10rd</p>
		    <p class="text-muted">Nee Ohki - 76st</p>
		    <p class="text-muted">Noob Noobers - 171nd</p>
		    <p class="text-muted">Sniper Wolfe - 220st</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="service-box">
                    <img class="img-thumbnail wow bounceIn" src="../images/Gridania_Flagss.png">
                    <h3>Individual Standings (Immortal Flames)</h3>
                    <p class="text-muted">Karboreto Br - 212st</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <!-- redimensionar imagens 650x350 6 imagens -->
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/notes/ffxiv-lonely-island-behemoth/warrior-guide/475306506009816" class="portfolio-box" target="_new">
                    <img src="../images/warriorguide.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Warrior Guide
                            </div>
                            <br>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“On the northernmost edge of Abalathia's Spine exists a mountain tribe renowned for producing fearsome mercenaries. Wielding greataxes and known as warriors, these men and women learn to harness their inner-beasts and translate that power to unbridled savagery on the battlefield.
                                    In former times which saw war waged ceaselessly in Eorzea, the warriors featured prominently on the frontlines of battle. With the arrival of peacetime, however, their art has descended into the shadows of obscurity, where it remains to this day.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../images/ffxiv.jpg" class="img-responsive"  alt="" target="_new">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paladin Guide
                            </div>
                            <br>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“For centuries, the elite of the Sultansworn have served as personal bodyguards to the royal family of Ul'dah. Known as paladins, these men and women marry exquisite swordplay with stalwart shieldwork to create a style of combat uncompromising in its defense. Clad in brilliant silver armor, they charge fearlessly into battle, ever ready to lay down their lives for their liege. To be a paladin is to protect, and those who choose to walk this path will become the iron foundation upon which the party's defense is built.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../images/ffxiv_bard.jpg" class="img-responsive" alt="" target="_new">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bard Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“The word "bard" ordinarily puts folk in mind of those itinerant minstrels, fair of voice and nimble of finger, who earn their coin performing in taverns and the halls of great lords. Few know, however, that bards in fact trace their origins back to the bowmen of eld, who sang in the heat of battle to fortify the spirits of their companions.
                                    In time, their impassioned songs came to hold sway over the hearts of men, inspiring their comrades to great feats and granting peace unto those who lay upon the precipice of death.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../images/gathering.jpg" class="img-responsive" alt="" target="_new">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Disciples of the Land Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>"Gladiators haven't a care whence steel comes, nor archers timber. 'Tis no concern of ours -- so long as their gil is good."<br>
                                    - esteemed naturalist Pilfa Dalfa, in his cups</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../images/ffxiv-crafter-concerns-banner.jpg" class="img-responsive" alt="" target="_new">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Disciples of the Hand Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>"An empty hand is akin to an empty heart -- ever does it long for a companion."<br>
                                    - former Leatherworkers' Guild guildmaster, Saiverin Vaireloque</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box  page-scroll">
                    <img src="../images/maxresdefault.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Have a guide to submit?
                            </div>
                            <div class="project-name">
                                Let us know! Contact us and share your experiences with the different classes!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="agenda">
<!--<aside class="bg-dark">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="call-to-action">
            <div>
                <p>This is the Free Company Agenda. Feel free to update it at any time!</p>

                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lonelyislandbehemoth%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
<!--</aside>-->
<section>

    <section id="contact">
        <aside class="bg-dark">
            <div class="container text center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Contact us</h2>
                        <hr class="primary">
                        <p>Want to talk to us? You can find us in game in plot x place y or you can contact us via e-mail!</p>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:lonelyislandbehemoth@gmail.com">lonelyislandbehemoth@gmail.com</a></p>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s" target="_new"></i>
                        <p><a href="https://www.facebook.com/groups/475303372676796/">FFXIV: Lonely Island | Behemoth</a></p>
                    </div>
                    <!--<div class="col-lg-12 col-md-12 text-center">-->
                        <form class="form-horizontal" role="form" method="post" action="index.php">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="4" name="message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    <!--</div>-->
                </div>
            </div>
        </aside>
    </section>

<!-- jQuery -->
<script src="../javascripts/jquery_003.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../javascripts/bootstrap.js"></script>

<!-- Plugin JavaScript -->
<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/jquery_002.js"></script>
<script src="../javascripts/wow.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../javascripts/creative.js"></script>

</body></html>
