<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lonely Island</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.css" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/css.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/css_002.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/font-awesome.css" rel="stylesheet"  type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../stylesheets/animate.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/creative.css" type="text/css">
    <!-- Custom favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Lonely Island</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#standings">Standings</a>
                </li>
                <li>
                    <a class="page-scroll" href="#guides ">Guides</a>
                </li>
                <li>
                    <a class="page-scroll" href="#agenda">Agenda</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="img-thumbnail" src="../images/Limsa_Lominsa_Flag.png">
            <br><br><br>
            <h1 class="logo">Lonely Island</h1>
            <hr>
            <p class="text-faded" style="font-size: 18px;"><b>FFXIV Free Company | Behemoth</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Know who we are!</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p>Lonely Island is a Final Fantasy XIV Free Company active in Behemoth server, primal datacenter.</p>
                <p>Funded 01/25/2016 we are friends enjoying the game!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/avaSdC0QOUM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section id="standings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Standings</h2>
                <hr class="primary">
                <p>Updated every monday! This section displays our ranks on the Grand Companies Standings</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail text-center wow bounceIn" src="../images/Behemoth_Mount_Patch.png">
                    <h3>Free Company Standings<br>(Overall)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Lonely Island - <b>16nd</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail wow bounceIn" src="../images/Limsa_Lominsa_Flag.png">
                    <h3>Free Company Standings<br>(Maelstron)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Lonely Island - <b>6nd</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail wow bounceIn" src="../images/Behemoth_Mount_Patch.png">
                    <h3>Individual Standings<br>(Overall)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Lars Deschain - <b>5st</b></li>
                        <li style="list-style-type: none" class="text-muted">Chase Mutley - <b>10nd</b></li>
                        <li style="list-style-type: none" class="text-muted">Locke Celes - <b>155rd</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail wow bounceIn" src="../images/Limsa_Lominsa_Flag.png">
                    <h3>Individual Standings<br>(Maelstron)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Lars Deschain - <b>3nd</b></li>
                        <li style="list-style-type: none" class="text-muted">Chase Mutley - <b>5st</b></li>
                        <li style="list-style-type: none" class="text-muted">Shadow Afk - <b>119st</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail wow bounceIn" src="../images/Uldah_Flagsss.png">
                    <h3>Individual Standings<br>(Twin Adder)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Locke Celes - <b>60rd</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box text-center">
                    <img class="img-thumbnail wow bounceIn" src="../images/Gridania_Flagss.png">
                    <h3>Individual Standings<br>(Immortal Flames)</h3>
                </div>
                <div>
                    <ul style="padding-left: 110px">
                        <li style="list-style-type: none" class="text-muted">Tree Hugger 1 - <b>236st</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
-- >
<section class="no-padding" id="guides">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/notes/ffxiv-lonely-island-behemoth/warrior-guide/475306506009816" target="_new" class="portfolio-box">
                    <img src="../images/warriorguide.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Warrior Guide
                            </div>
                            <br>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“On the northernmost edge of Abalathia's Spine exists a mountain tribe renowned for producing fearsome mercenaries. Wielding greataxes and known as warriors, these men and women learn to harness their inner-beasts and translate that power to unbridled savagery on the battlefield.
                                    In former times which saw war waged ceaselessly in Eorzea, the warriors featured prominently on the frontlines of battle. With the arrival of peacetime, however, their art has descended into the shadows of obscurity, where it remains to this day.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="_new" class="portfolio-box">
                    <img src="../images/ffxiv.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paladin Guide
                            </div>
                            <br>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“For centuries, the elite of the Sultansworn have served as personal bodyguards to the royal family of Ul'dah. Known as paladins, these men and women marry exquisite swordplay with stalwart shieldwork to create a style of combat uncompromising in its defense. Clad in brilliant silver armor, they charge fearlessly into battle, ever ready to lay down their lives for their liege. To be a paladin is to protect, and those who choose to walk this path will become the iron foundation upon which the party's defense is built.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="_new" class="portfolio-box">
                    <img src="../images/ffxiv_bard.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bard Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>“The word "bard" ordinarily puts folk in mind of those itinerant minstrels, fair of voice and nimble of finger, who earn their coin performing in taverns and the halls of great lords. Few know, however, that bards in fact trace their origins back to the bowmen of eld, who sang in the heat of battle to fortify the spirits of their companions.
                                    In time, their impassioned songs came to hold sway over the hearts of men, inspiring their comrades to great feats and granting peace unto those who lay upon the precipice of death.”</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="_new" class="portfolio-box">
                    <img src="../images/gathering.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Disciples of the Land Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>"Gladiators haven't a care whence steel comes, nor archers timber. 'Tis no concern of ours -- so long as their gil is good."<br>
                                    - esteemed naturalist Pilfa Dalfa, in his cups</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="_new" class="portfolio-box">
                    <img src="../images/ffxiv-crafter-concerns-banner.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Disciples of the Hand Guide
                            </div>
                            <div class="project-name">
                                <p style="font-size: 12px"><i>"An empty hand is akin to an empty heart -- ever does it long for a companion."<br>
                                    - former Leatherworkers' Guild guildmaster, Saiverin Vaireloque</i></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1GU4Cp-pJiqRyoHSq03vN5mAqVXgRE9jRvvYsqXfT-iA/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/blacksmith_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Blacksmith Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your blacksmith!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1qD48dkAR2XinH3yNa5da6a7Z2Rh_ihvCnRPyQ7dB0XY/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/armorer_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Armorer Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your armorer!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1p1dehwC8wagPUf2OyIHjqKAHJOS7CDGg-8C2SqYTwNg/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/goldsmith_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Goldsmith Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your goldsmith!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1IXkxg8SlCSF6ajOK8PVPvH6jIVByIjSordz3jQoxMV8/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/leatherworker_leve.png" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Leatherworker Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your leatherworker!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/15xRjO-gZTzMdpAQm_gLBztgldglup47JTto_D6CUF8s/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/culinarian_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Culinarian Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your culinarian!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/16FynkO7zfQj4NV76uur7rxgfPydmXDV0fu0vDJVt7UA/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/alchemist_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alchemist Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your alchemist!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1M0sbm2H38BhOxSE1Ffi_VvjqFLFjQdXu8JD7jfqJDGQ/edit?usp=sharing" target="_new" class="portfolio-box">
                    <img src="../images/carpenter_leve.png" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Carpenter Levemate Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your carpenter!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1nzHaUfqfzAku2w_acgNphUGW5Mt6DExppew36c_HpHU/edit#gid=1869367893" target="_new" class="portfolio-box">
                    <img src="../images/miner_leve.png" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Miner Leveling Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your miner!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/spreadsheets/d/1nzHaUfqfzAku2w_acgNphUGW5Mt6DExppew36c_HpHU/edit#gid=1720985562" target="_new" class="portfolio-box">
                    <img src="../images/botanist_leve.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Botanist Leveling Guide
                            </div>
                            <div class="project-name">
                                Use this link to powerlevel your botanist!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box  page-scroll">
                    <img src="../images/maxresdefault.jpg" class="img-responsive">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Have a guide to submit?
                            </div>
                            <div class="project-name">
                                Let us know! Contact us and share your experiences with the different classes!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="call-to-action">
            <div>
                <p>This is the Free Company Agenda. Feel free to update it at any time!</p>

                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lonelyislandbehemoth%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>>

    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <hr class="primary">
                    <p>Want to talk to us? You can find us in game in plot x place y or you can contact us via e-mail!</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:lonelyislandbehemoth@gmail.com">lonelyislandbehemoth@gmail.com</a></p>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <img src="../images/unnamed.png" style="height:42px;width:42px"></img>
                        <p><a href="https://discord.gg/FC8p5fG" target="_new">BOAT</a></p>
                    </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s" target="_new"></i>
                        <p><a href="https://www.facebook.com/groups/475303372676796/" target="_new">FFXIV: Lonely Island | Behemoth</a></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row col-lg-4 col-md-4" style="padding-left:90px;">
                    <img src="../images/cont01_img_02.png">
                </div>
                <div class="row col-lg-8 col-md-8" style="padding-top: 110px;">
                    <form class="form-horizontal" role="form" method="post" action="mailto:lonelyislandbehemoth@gmail.com">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4" name="message"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../javascripts/jquery_003.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap.js"></script>
    <!-- Plugin JavaScript -->
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/jquery_002.js"></script>
    <script src="../javascripts/wow.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../javascripts/creative.js"></script>
</body>
</html>
